@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-font_montserrat;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
  }

  .date-no-icon::-webkit-calendar-picker-indicator {
    display: block;
  }

  nav {
    @apply flex justify-center mx-auto h-[72px] items-center px-4;
  }
  h1 {
    @apply font-font_palanquin font-bold text-3xl capitalize;
  }
  h3 {
    @apply font-font_palanquin  text-xl font-semibold  capitalize tracking-wide;
  }
  header p {
    @apply text-slate_gray text-[14px] font-font_palanquin;
  }
  li {
    @apply text-white list-none mr-2 cursor-pointer capitalize;
  }
  .input-container {
    @apply my-2 rounded-md w-full;
  }
  .label {
    @apply px-2 rounded-full inline-flex items-center font-font_palanquin;
  }
  .input {
    @apply outline-none w-full px-4 h-10 rounded-md border  focus:border-primary_blue text-sm;
  }
  .btn {
    @apply bg-primary_blue border-none hover:opacity-85  py-2 rounded-md text-white tracking-widest font-font_palanquin text-lg mt-4;
  }
  .btn-outline {
    @apply text-primary_blue uppercase text-sm flex items-center transition-all duration-200  font-semibold hover:opacity-70;
  }
  .card-header {
    @apply py-2 border-b border-pale_blue;
  }
  .icon {
    @apply text-primary_blue text-xl cursor-pointer hover:opacity-70 transition-all duration-200;
  }
  .card {
    @apply shadow-md bg-white  shadow-light_gray rounded-md;
  }
  .scrollbar-custom {
    scrollbar-width: 4px;
    scrollbar-color: #dddddd none; /* Thumb color | Track color */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #dddddd; /* Thumb color */
    border-radius: 9999px; /* Rounded corners for the thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f5f6ff; /* Track color */
  }
}
